
ai/.wrangler/
.DS_Store
dist/
._*
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
temp/
*~
.vscode
.wrangler

# Ignore sensitive configuration files
config.ini
.env
.dev.vars

# Ignore node_modules directory
ai/node_modules/